// Imports
@import "mixins.scss";
@import url(http://fonts.googleapis.com/css?family=Roboto|Oswald|Lato|Roboto+Slab|Open+Sans);

// Colors
$color-yellow: #FFFF00;
$color-dark: #111;
$color-med: #555;
$color-bg: #0A0A0A;
$color-text: #FFF;
$color-red: #FF0A0A;

// Table colors
$color-th: #DFDFDF;
$color-td: #FAFAFA;
$color-tr-even: #F1F1F1;
$color-tr-odd: #FEFEFE;

// Fonts
$font-oswald: 'Oswald';
$font-lato: 'Lato';
$font-th: 'Roboto';
$font-td: 'Open Sans';

// Font sizes
$search-component-font-size: 16px;

// Margins
$margin-table: 25px;
$search-component-margin: 5px;
$search-component-margin-top: -10px;

// Widths/Heights
$table-height: 300px;
$table-item-height: 20px;
$th-width: 80px;
$td-width: 250px;
$search-component-width: 175px;

// Padding
$search-component-padding: 5px 35px 5px 5px;

body {
	/* background-image:
		linear-gradient(
			rgba(0, 0, 0, 0.3), 
			rgba(0, 0, 0, 0.3)), 
	 	url("../../images/background.png"); */
	background-color: $color-bg;
	background-size: 100%;
    text-align: center;
    width: 100%;
    background-attachment: fixed;
    
}
.react-results-area-component {
	 display: inline-block;
	 width: auto;
	 align:center;
	 h4 {
	 	font-family: $font-td;
	 	color: white;
	 }
}
.react-data-table-component {
	display: inline-block;
	table {
		display: inline-block;
		max-height: $table-height;
		overflow-y: scroll;
		font-size: 0.8em;
		width: auto;
		align: center;
		margin: $margin-table;
		color: $color-med;
		border-collapse: collapse; 
		border-spacing: 0;
		border: solid 3px white;
		border-radius: 5px;
	}
	table:hover {
		border-color: $color-med;
	}
	td, th {
		border: 2px solid transparent; /* No more visible border */
		height: $table-item-height;
		transition: all 0.3s;  /* Simple transition for hover effect */
		border: solid 2px white;
	}
	th {
		font-weight: bold;
		text-align: left;
		font-family: $font-oswald;
		background: $color-th;
		min-width: $th-width;
		max-width: $th-width;
	}
	td {
		text-align: left;
		font-family: $font-td;
		background: $color-td;
		min-width: $td-width;
		max-width: $td-width;
	}
	/* Cells in even rows (2,4,6...) are one color */
	tr:nth-child(even) td { 
		background: $color-tr-even 
	}
	/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
	tr:nth-child(odd) td { 
		background: $color-tr-odd; 
	}
	/* Hover cell effect! */
	tr td:hover { 
		background: $color-med; 
		color: white; 
		transition: background 0.3s;
		transition: color 0.3s;
	}
}
/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
}
/* visited link */
a:visited {
    color: white;
    text-decoration: none;
}
/* mouse over link */
a:hover {
    color: yellow;
    transition: color 0.2s;
    text-decoration: underline;
}
/* selected link */
a:active {
    color: white;
    text-decoration: none;
}
.header{
	//background-color: $color-bg; 
	h1 {
		padding: 8px;
		font-size: 3em;
	    text-transform: UPPERCASE;
		font-family: $font-oswald;
	    text-shadow: 2px 2px $color-med;
	    color: $color-red;
	}
	h2 {
		padding: 8px;
		margin-top: -50px;
		font-family: $font-lato;
		color: white;
	}
}
.react-search-input-component {
	display: inline;
	input {
		border-radius: 2.3px;
		background: transparent;
	    margin: $search-component-margin;
	    margin-top: $search-component-margin-top;
	    width: $search-component-width;
	    padding: $search-component-padding;
	    font-size: $search-component-font-size;
	    border: 2px solid white;
	    height: 20px;
	    color: white;
	}
	
	input[type=number]::-webkit-inner-spin-button, 
	input[type=number]::-webkit-outer-spin-button {  
	   opacity: 1;
	}
}

.react-search-dropdown-component {
	display: inline;
	select {
		border-radius: 2.3px;
		background: transparent;
	    margin: $search-component-margin;
	    margin-top: $search-component-margin-top;
	    width: $search-component-width;
	    padding: $search-component-padding;
	    font-size: $search-component-font-size;
	    border: 2px solid white;
	    height: 34px;
	    color: white;
	    //background-color: $color-bg; 
	}

}
.react-results-area-component {
	p {
		padding: 10px;
		border-radius: 10px;
		color: white;
		font-size: 1.2em;
		font-family: $font-oswald;
	}
}
.select-option {
	color: black
}

.table.table.center {
	 align: center;
	 width: auto;
}
.react-footer-component {
	footer{
		font-family: $font-lato;
		color: white;
	}
}
.highlight {
	strong {
		background-color: yellow;
	}
}