// Sass file

@import url(http://fonts.googleapis.com/css?family=Sigmar+One|Special+Elite|Bangers|Roboto|Oswald|Lato|Roboto+Slab|Open+Sans);

$color-yellow: #ffff00;
$color-med-dark: #333;
$color-dark: #111;
$color-med: #777;
$color-bg: #555;
$color-text: white;

$color-th: #DFDFDF;
$color-td: #FAFAFA;
$color-tr-even: #F1F1F1;
$color-tr-odd: #FEFEFE;

$font-header: 'Oswald';
$font-subheader: 'Lato';
$font-th: 'Roboto';
$font-td: 'Open Sans';

body {
	text-align: center;
	background-color: $color-bg;
}

.react-results-area-component {
	 display: table;
	 width: auto;
}
.react-data-table-component {
	display: inline-block;
	table {
		font-size: .8em;
		width: auto;
		align: center;
		margin: 25px;
		color: #333;
		border-collapse:
		collapse; border-spacing: 0;
		border: solid 3px white;
		border-radius: 5px;
	}
	table:hover {
		border-color: $color-med-dark;
	}
	td, th {
		border: 3px solid transparent; /* No more visible border */
		height: 30px;
		transition: all 0.3s;  /* Simple transition for hover effect */
		border: solid 2px white;
	}
	th {
		font-family: $font-th;
		padding: 3px;
		background: $color-th;  /* Darken header a bit */
		font-weight: bold;
		text-align: left;
		min-width: 80px;
		max-width: 80px;
	}
	td {
		font-family: $font-td;
		padding: 3px;
		background: $color-td;
		text-align: left;
		min-width: 250px;
		max-width: 250px;
	}
	/* Cells in even rows (2,4,6...) are one color */
	tr:nth-child(even) td { 
		background: $color-tr-even 
	}
	/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
	tr:nth-child(odd) td { 
		background: $color-tr-odd; 
	}
	/* Hover cell effect! */
	tr td:hover { 
		background: $color-bg; 
		color: white; 
		transition: background 0.3s;
		transition: color 0.3s;
	}
}

/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
}
/* visited link */
a:visited {
    color: white;
    text-decoration: none;
}
/* mouse over link */
a:hover {
    color: #6666FF;
    transition: color 0.3s;
    text-decoration: underline;
}
/* selected link */
a:active {
    color: white;
    text-decoration: none;
}
.header{
	margin: 10px;
	background-color: $color-med-dark;
    border-radius: 5px;
	h1 {
		padding: 8px;
		font-family: $font-header;
	    font-size: 3em;
	    text-transform: UPPERCASE;
	    text-shadow: 2px 2px black;
	    color: white;
	}
	h2 {
		padding: 8px;
		margin-top: -50px;
		font-family: $font-subheader;
		text-shadow: 2px 2px $color-med-dark;
		color: white;
	}
}
.react-search-input-component {
	display: inline;
	input {
		border-radius: 2.3px;
	    margin: 10px;
	    border: 1px solid #111;
	    background: transparent;
	    width: 150px;
	    padding: 5px 35px 5px 5px;
	    font-size: 16px;
	    border: 2px solid #ccc;
	    height: 20px;
	    color: white;
	}
	input:hover {
	    background: white;
	    color: black;
	}
	input[type=number]::-webkit-inner-spin-button, 
	input[type=number]::-webkit-outer-spin-button {  
	   opacity: 1;
	}
}

.react-search-dropdown-component {
	display: inline;
	select {
		border-radius: 2.3px;
	    margin: 10px;
	    background: transparent;
	    width: 150px;
	    padding: 5px 35px 5px 5px;
	    font-size: 16px;
	    border: 2px solid #ccc;
	    height: 34px;
	    color: white;
	}
	select:hover {
	    background: white;
	    color: black;
	}
}

.react-search-button-component {
	display: inline;
	button {
		border-radius: 2.3px;
		text-align: center;
		margin: 10px;
	    border: 2px solid #ccc;
	    background: transparent;
	    width: 33px;
	    padding: 5px 28px 5px 5px;
	    font-size: 16px;
	    height: 33px;
	    color: white;
	}
	button:hover {
		background: white;
    	color: black;
	} 
	option {
		color: black;
	}	
}
.react-footer-component {
	footer{
		font-family: $font-subheader;
		color: white;
	}
}







