
@import url(http://fonts.googleapis.com/css?family=Bangers|Roboto|Oswald|Lato|Roboto+Slab|Open+Sans);

body {
	text-align: center;
	font-family: 'Open Sans';
	background-color: #555;
}

h1 {
	font-family: 'Bangers';
    font-size: 3em;
    text-transform: UPPERCASE;
    text-shadow: 2px 2px #333;
    color: #ffff00;
}

h2 {
	color: white;
}

table.center {
    width:70%;
    margin-left:15%;
    margin-right:15%;
}

table {
	align: center;
	margin: 25px;
	color: #333;
	font-family: Helvetica, Arial, sans-serif;
	width: 640px;
	border-collapse:
	collapse; border-spacing: 0;
	border: solid 2px white;
}

td, th {
	border: 1px solid transparent; /* No more visible border */
	height: 30px;
	transition: all 0.3s;  /* Simple transition for hover effect */
	border: solid 2px white;
}

th {
	padding: 10px;
	background: #DFDFDF;  /* Darken header a bit */
	font-weight: bold;
	text-align: left;
	min-width: 40px;
	max-width: 40px;
}

td {
	padding: 10px;
	background: #FAFAFA;
	text-align: left;
	min-width: 150px;
	max-width: 150px;
}

/* Cells in even rows (2,4,6...) are one color */
tr:nth-child(even) td { background: #F1F1F1; }

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
tr:nth-child(odd) td { background: #FEFEFE; }

tr td:hover { background: #666; color: #FFF; } /* Hover cell effect! */

.header, .footer {
	padding: 20px;
	margin: 20px;
	background-color: #777;
    border-radius: 5px;
}
