
@font-face{
    font-family:'Glyphicons Halflings';
    src:url(../fonts/glyphicons-halflings-regular.eot);
}

h1 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}
caption {
    text-align: center;
    background: #DFDFDF;
    color: black;
}
/* table {
    border: solid 1px #ccc;
    display: block;
    border-collapse: collapse; 
    border-spacing: 0;
    border: solid 3px white;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
th, td {
    padding: 1px;
    border: solid 1px #ccc;
}
th {
    background: #F1F1F1;
}
td {
    background: #FAFAFA;
} */
button:hover {
    border: solid 2px #777;
}
.footer {
    height: 60px;
}
.result p{
    margin-top: 10px;
}
.item:hover { 
    background: #eee; 
    transition: background 0.3s;
    .btn {
        color: inherit;
        border: solid 2px #999;
        transition: border 0.3s;

    }
    .btn:hover {
         border: solid 2px #777;
         transition: border 0.3s;
    }
}
.btn-secondary {
    border: solid 2px #ccc;    
}
.btn-toolbar {
    
}
.highlight {
    background-color: lightpink;
}
.text-success {
	color: black;
}
.search-area{

}
.results h2{
	display: block;
}
.results h4{
	display: block;
}
.result {

}
.result p {
    padding-top: 10px;
}
.btn-toolbar {
    display: table;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.glyphicon-search {
    margin: 5px;
}
.glyphicon {
    color: black;
}
.btn-secondary {
    background-color: #ddd;
}
.item-detail-btn-group, .list-item-btn-group{
    display: inline;
}
.item-detail {
    padding: 20px;
}
.list-item-header {
    h3 {
        margin-top: 20px;
    }
    
}